.csv
.log
.Rapp.history
.RData
.Rhistory
.Rproj.user
revdep/.cache.rds
tests/testthat/*.pdf
tests/testthat/*.RData
vignettes/.build.timestamp
vignettes/*_cache
vignettes/*_files
vignettes/*.html
vignettes/*.R
